-if current_user

  %h3 Account Dashboard

  %li=link_to 'Edit Profile', edit_user_registration_path
  %li=link_to 'Edit Password', edit_user_password_path
  %li=link_to 'Log Out', destroy_user_session_path, method: :delete

-else
  =link_to 'Login', new_user_session_path
  =link_to 'Sign up', new_user_registration_path
