.row
  %h3 Change your Address

=simple_form_for @address, :html => { method: :put } do |f|
  =f.error_notification

  .form-inputs
    .row
      .columns.large-3.small-7
        =f.input :address1, required: true, autofocus: true
    .row
      .columns.large-3.small-7
        =f.input :address2
    .row
      .columns.large-3.small-7
        =f.input :company
    .row
      .columns.large-3.small-7
        =f.input :city,     required: true
    .row
      .columns.large-3.small-7
        =f.input :state,    required: true
    .row
      .columns.large-3.small-7
        =f.input :zip,      required: true

  .form-actions
    .row
      =f.button :submit, "Change my address"
