.fixed
  %nav.top-bar{"data-topbar"=>""}
    %ul.title-area
      %li.name
        %h1
          %a{href:root_path}
            Wine-Com
      %li.toggle-topbar.menu-icon
        %a{href:"#"}Menu

    %section.top-bar-section
      %ul.right
        %li.has-dropdown
          %a{href:"#"}Customer
          %ul.dropdown
            %li
              %a{href:"#"}First link in dropdown
        %li.has-dropdown
          %a{href:"#"}Admin
          %ul.dropdown
            %li
              =link_to 'New Wine', new_wine_path
